@model ProjectModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @*<div class="row">
                <div class="col-md-12 clearfix">
                    <div class="pull-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "research-advanced-mode" })
                    </div>
                </div>
            </div>*@
        <nop-tabs id="project-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="รายละเอียดข้อเสนอโครงการ">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-researchers" asp-title="ข้อมูลบัญชีรายชื่อนักวิจัย">@await Html.PartialAsync("_CreateOrUpdate.Researchers", Model)</nop-tab>
            <nop-tab asp-name="tab-professors" asp-title="ข้อมูลผู้ทรงคุณวุฒิ">@await Html.PartialAsync("_CreateOrUpdate.Profs", Model)</nop-tab>
            @*<nop-tab asp-name="tab-status" asp-title="ผลการพิจารณาโครงการวิจัย">@await Html.PartialAsync("_CreateOrUpdate.Status", Model)</nop-tab>
        <nop-tab asp-name="tab-progress" asp-title="สถานะโครงการวิจัย">@await Html.PartialAsync("_CreateOrUpdate.Progresses", Model)</nop-tab>*@
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "project-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
