@model ProjectSearchModel
@{
    //page title
    ViewBag.Title = "List Project";
}
<form asp-controller="Project" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            ข้อเสนอโครงการวิจัย
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                Add New
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    Export
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportxml-all">
                            <i class="fa fa-file-code-o"></i>
                            Export Xml All
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportxml-selected">
                            <i class="fa fa-file-code-o"></i>
                            ExportToXml Selected
                        </button>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            ExportToExcel All
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            ExportToExcel Selected
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="SearchProjectName" class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <input asp-for="SearchProjectName" class="form-control text-box single-line" />
                                        <span asp-validation-for="SearchProjectName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FiscalScheduleId" class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <select asp-for="FiscalScheduleId" asp-items="Model.AvailableFiscalYears"></select>
                                        <span asp-validation-for="FiscalScheduleId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FacultyId" class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <select asp-for="FacultyId" asp-items="Model.AvailableFaculties"></select>
                                        <span asp-validation-for="FacultyId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="ProgressStatusId" class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <select asp-for="ProgressStatusId" asp-items="Model.AvailableProgressStatuses"></select>
                                        <span asp-validation-for="ProgressStatusId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProjectStatusId" class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <select asp-for="ProjectStatusId" asp-items="Model.AvailableProjectStatuses"></select>
                                        <span asp-validation-for="ProjectStatusId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 control-label">
                                        <button type="button" id="search-projects" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="projects-grid"></div>
                        <script>
    $(document).ready(function() {
        $("#projects-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ProjectList", "Project"))",
                        type: "POST",
                        dataType: "json",
                        data: function() {
                            var data = {
                                SearchProjectName: $('#@Html.IdFor(model => model.SearchProjectName)').val(),
                                FiscalScheduleId: $('#@Html.IdFor(model => model.FiscalScheduleId)').val(),
                                FacultyId: $('#@Html.IdFor(model => model.FacultyId)').val(),
                                ResearchIssueId: $('#@Html.IdFor(model => model.ProgressStatusId)').val(),
                                ProjectStatusId: $('#@Html.IdFor(model => model.ProjectStatusId)').val()
                            };
                            
                            return data;
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(Model.PageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(Model.AvailablePageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                    width: 50
                }, {
                    field: "FiscalYear",
                    title: "ปีงบ",
                    width: 100
                }, {
                    field: "ProjectCode",
                    title: "รหัสโครงการ",
                    width: 100
                }, {
                    field: "ProjectNameTh",
                    title: "ชื่อโครงการ",
                    width: 500
                }, {
                    field: "StartContractDate",
                    title: "วันที่ยื่นข้อเสนอ",
                    width: 100
                }, {
                    field: "FundAmount",
                    title: "งบวิจัย",
                    width: 100
                }, {
                    field: "ProjectStatus",
                    title: "สถานะ",
                    width: 100
                }, {
                    field: "Id",
                    title: "Edit",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-default" href="Project/Edit/#=Id#"><i class="fa fa-pencil"></i>Edit</a>'
                }
            ]
        });
    });
                        </script>
                        <script>
    var selectedIds = [];

    $(document).ready(function() {
        //search button
        $('#search-projects').click(function() {
            var grid = $('#projects-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            //clear selected checkboxes
            $('.checkboxGroups').attr('checked', false).change();
            selectedIds = [];
            return false;
        });

        @*$("".concat("#@Html.IdFor(model => model.SearchProjectName)").keydown(function(event) {
            if (event.keyCode === 13) {
                $("#search-projects").click();
                return false;
            }
        });*@

        $('#mastercheckbox').click(function() {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#projects-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
            var $check = $(this);
            var checked = jQuery.inArray($check.val(), selectedIds);
            if ($check.is(":checked") == true) {
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            } else if (checked > -1) {
                //remove id from selectedIds.
                selectedIds = $.grep(selectedIds, function (item, index) {
                    return item != $check.val();
                });
            }
            updateMasterCheckbox();
        });
    });

    function onDataBound(e) {
        $('#projects-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#projects-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
        var numChkBoxesChecked = $('#projects-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Project" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>
<script>
    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });
    });</script>
@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Project" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>
<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });</script>