@model ResearcherModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    <nop-label asp-for="TitleId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="TitleId" asp-items="Model.AvailableTitles"/>
                    <span asp-validation-for="TitleId"></span>
                </div>
            </div>
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FirstName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
            }
 
        </div>
    </div>
</div>

