@model ResearcherModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @*<div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "research-advanced-mode" })
                </div>
            </div>
        </div>*@
        <nop-tabs id="researcher-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="รายละเอียดนักวิจัย">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-addr" asp-title="ข้อมูลที่อยู่">@await Html.PartialAsync("_CreateOrUpdate.Addr", Model)</nop-tab>
            <nop-tab asp-name="tab-edu" asp-title="ข้อมูลการศึกษา">@await Html.PartialAsync("_CreateOrUpdate.Edus", Model)</nop-tab>
            <nop-tab asp-name="tab-prof" asp-title="รายการผู้ทรงคุณวุฒิ">@await Html.PartialAsync("_CreateOrUpdate.Prof", Model)</nop-tab>
            <nop-tab asp-name="tab-proj" asp-title="รายการเสนอโครงการ">@await Html.PartialAsync("_CreateOrUpdate.Proj", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "researcher-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}