@model ResearcherModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ResearcherCode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ResearcherCode" />
                    <span asp-validation-for="TitleId"></span>
                </div>
            </div>
 


        </div>
    </div>
</div>

