@model ResearchIssueModel

@{
    ViewBag.Title = "กำหนดประเด็นการวิจัย";
}

<form asp-controller="ResearchIssue" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            แก้ไขประเด็นการวิจัย
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">กลับสู่รายการประเด็นการวิจัย</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                บันทึก
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                บันทึกและทำรายการต่อ
            </button>
            @*@await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ResearchIssueDetailsButtons, additionalData = Model })*@
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>