@model ActionConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">ยืนยันรายการ</h4>
        </div>
        <div class="modal-body">
            คุณต้องการดำเนินรายการนี้ใช่หรือไม่
        </div>
        <div class="modal-footer">
            <button type="submit" id="@(Model.WindowId)-submit-button" class="btn btn-primary pull-right">
                ต้องการ
            </button>
            <span class="btn btn-default pull-right margin-r-5" data-dismiss="modal">ยกเลิก</span>
        </div>
    </div>
</div>