<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        ระบบสารสนเทศเพื่อการบริหารงานวิจัย
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="http://www.sru.ac.th">สถาบันวิจัยและพัฒนามหาวิทยาลัยราชภัฏสุราษฎร์ธานี</a>.</strong> All rights reserved.
</footer>