@model PasswordRecoveryModel
@{
    ViewData["Title"] = "ลืมรหัสผ่าน";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ลงทะเบียนสมัครนักวิจัย</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/css/animation.css" />
        <link rel="stylesheet" href="~/css/login.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    </environment>

</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <p class="login-box-msg">ลืมรหัสผ่าน</p>
        </div>

        <div class="register-box-body">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <div class="result">
                    <label>กรุณากรอก E-mail ที่ท่านใช้งานกับระบบ</label>
                </div>
            }
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">ลืมรหัสผ่าน</p>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="Email" asp-postfix=":"></label>
                            <input asp-for="Email" class="email" />
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 password-recovery-button" value="ตกลง" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>