@model ProfessorModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @*<div class="row">
                <div class="col-md-12 clearfix">
                    <div class="pull-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "research-advanced-mode" })
                    </div>
                </div>
            </div>*@
        <nop-tabs id="professor-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="รายละเอียดผู้ทรงคุณวุฒิ">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-addr" asp-title="สถานที่ทำงาน">@await Html.PartialAsync("_CreateOrUpdate.Addr", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "professor-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
