@model ProfessorModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ProfessorCode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProfessorCode" />
                    <span asp-validation-for="TitleId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ProfessorType" />
                </div>

                <div class="col-md-9">
                    <div class="col-md-3">
                        <input type="radio" asp-for="ProfessorType" value="InternalExpert" checked="@(Model.ProfessorType == "InternalExpert")" id="gender-male" />
                        ผู้ทรงคุณวุฒิภายใน
                    </div>
                    <div class="col-md-3">
                        <input type="radio" asp-for="ProfessorType" value="ExternalExpert" checked="@(Model.ProfessorType == "ExternalExpert")" id="gender-female" />
                        ผู้ทรงคุณวุฒิภายนอก
                    </div>
                    <span asp-validation-for="ProfessorType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TitleId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="TitleId" asp-items="Model.AvailableTitles" />
                    <span asp-validation-for="TitleId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="FirstName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="LastName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Email" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Telephone" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Telephone" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsActive" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IsActive" type="checked" />
                    <span asp-validation-for="IsActive"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Comment" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="Comment" />
                </div>
            </div>


        </div>
    </div>
</div>

