@model EmailAccountModel

@{
    //page title
    ViewBag.Title = "แก้ไขอีเมลส่งจดหมายอิเล็กทรอนิกส์";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Email accounts");
}

<form asp-controller="EmailAccount" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            แก้ไขอีเมลส่งจดหมายอิเล็กทรอนิกส์
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">กลับไปยังรายการอีเมลส่งจดหมายอิเล็กทรอนิกส์</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                บันทึก
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                บันทึกและทำรายการต่อ
            </button>
            <span id="emailAccount-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                ลบ
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="emailAccount-delete" />
